html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #353535;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0 !important;
}

body {
  margin-top: 60px;
}

.text-second-primary-color {
  color: #005e6a !important;
}

.text-primary {
  color: #f15a23 !important;
}

.bg-primary-color {
  background-color: #f15a23;
}

.bg-second-primary-color {
  background-color: #005e6a;
}

.bg-primary-dark-color {
  background-color: #f15a23;
}

.bg-primary-dark-color-hover:hover {
  background-color: #e4521c;
}

.font-weight-semibold {
  font-weight: 600;
}

.h-24px {
  height: 24px;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn.btn-primary, .btn.btn-primary:active {
  background-color: #f15a23 !important;
  border-color: #f15a23 !important;
  border-radius: 10px;
}

.btn.btn-primary:focus, .btn.btn-primary:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
}

.btn.btn-primary:hover, .btn.btn-primary:active:hover {
  background-color: #e4521c !important;
}

.heading-section hr {
  width: 66px;
  background-color: #f15a23;
  height: 6px;
  margin: 0;
}

.heading-section-2 hr {
  width: 45px;
  background-color: #f15a23;
  height: 6px;
  margin-bottom: 29px;
  margin-left: 0;
}

.card.card-photo-event {
  background-color: transparent;
  border: none;
}

.card.card-photo-event .card-body {
  padding: 0;
}

.card.card-photo-event .card-body img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .card.card-photo-event .card-body img {
    height: 220px;
  }
}

.card.card-photo-event .card-body .photo-event-info {
  margin-top: 20px;
}

.card.card-photo-event .card-body .photo-event-info .event-date {
  background-color: #005e6a;
  color: #fff;
}

.card.card-photo-event .card-body .photo-event-info .event-date .date {
  font-size: 24px;
}

.card.card-photo-event .card-body .photo-event-info .event-date .month {
  font-size: 18px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc {
  margin-left: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc h3 {
  font-size: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc p {
  font-size: 14px;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  display: none;
}

.dropdown.custom-dropdown .dropdown-menu {
  border-bottom-right-radius: 30px;
  padding: 0;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item {
  padding: 16px 22px;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 94, 106, 0.3);
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom-right-radius: 30px;
}

.dropdown.custom-dropdown .dropdown-toggle {
  border: 2px solid #005e6a;
  padding: 12px 24px;
  font-size: 14px;
}

.dropdown.custom-dropdown .dropdown-toggle::after {
  display: none;
}

main {
  padding-top: 70px;
}

main #hero-event {
  height: 482px;
}

main #hero-event .hero-content {
  background-color: grey;
}

main #hero-event .hero-content .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

main #search-event .box-panel {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 28px 16px;
  margin-top: -70px;
  background: #f15a23;
  z-index: 9;
  position: relative;
  text-align: center;
}

main #search-event .box-panel-item {
  height: 100%;
  padding: 24px;
}

@media (min-width: 1200px) {
  main #search-event .box-panel-item.right-left-bordered {
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
  }
}

main #search-event .box-panel-item-heading {
  font-size: 14px;
  color: #fff;
}

main #search-event .search-button {
  position: relative;
  top: 20px;
  right: 20px;
  color: #f15a23;
  background-color: #fff;
  width: 162px;
  height: 57px;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=event.css.map */