html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #353535;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  padding-top: 85px;
}

footer#footer {
  position: relative;
  bottom: 0;
  margin-top: 120px;
  padding: 70px 0 0 0;
}

footer#footer .waves {
  position: absolute;
  left: 0;
  top: -85px;
  width: 1437px;
}

@media (min-width: 1200px) {
  footer#footer .waves {
    width: 100%;
    top: calc(0px - 7.5vw);
  }
}

footer#footer h5 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
}

footer#footer ul li {
  margin-bottom: 0.25rem;
}

footer#footer .footer-year {
  background-color: #e4521c;
  padding-top: 25px;
  padding-bottom: 20px;
  position: relative;
  bottom: 0;
}

header .navbar .navbar-nav .nav-item {
  font-weight: 600;
  color: #005e6a;
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item {
    margin-left: 48px;
  }
}

header .navbar .navbar-nav .nav-item.active {
  border-bottom: 3px solid #f15a23;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0;
  z-index: 9;
  border: none;
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: 60px;
    right: 0;
    left: unset;
  }
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: inherit;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 30px;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu::after {
  position: absolute;
  z-index: -1;
  top: 30px;
  right: 0;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #f15a23;
  border-left: 12px solid transparent;
  content: "";
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu::after {
    top: -16px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f15a23;
    border-left: 16px solid transparent;
  }
}

header .navbar .navbar-nav .dropdown-item {
  font-weight: 600;
}

.btn.btn-primary, .btn.btn-primary:active {
  background-color: #f15a23 !important;
  border-color: #f15a23 !important;
  border-radius: 10px;
}

.btn.btn-primary:focus, .btn.btn-primary:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
}

.btn.btn-primary:hover, .btn.btn-primary:active:hover {
  background-color: #e4521c !important;
}

.heading-section hr {
  width: 66px;
  background-color: #f15a23;
  height: 6px;
  margin: 0;
}

.heading-section-2 hr {
  width: 45px;
  background-color: #f15a23;
  height: 6px;
  margin-bottom: 29px;
  margin-left: 0;
}

.card.card-photo-event {
  background-color: transparent;
  border: none;
}

.card.card-photo-event .card-body {
  padding: 0;
}

.card.card-photo-event .card-body img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .card.card-photo-event .card-body img {
    height: 220px;
  }
}

.card.card-photo-event .card-body .photo-event-info {
  margin-top: 20px;
}

.card.card-photo-event .card-body .photo-event-info .event-date {
  background-color: #005e6a;
  color: #fff;
}

.card.card-photo-event .card-body .photo-event-info .event-date .date {
  font-size: 24px;
}

.card.card-photo-event .card-body .photo-event-info .event-date .month {
  font-size: 18px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc {
  margin-left: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc h3 {
  font-size: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc p {
  font-size: 14px;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  display: none;
}

.dropdown.custom-dropdown.light-toggle .dropdown-toggle {
  background-color: #e7ecfc !important;
  border: none;
}

.dropdown.custom-dropdown .dropdown-menu {
  border-bottom-right-radius: 30px;
  padding: 0;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item {
  padding: 16px 22px;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 94, 106, 0.3);
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom-right-radius: 30px;
}

.dropdown.custom-dropdown .dropdown-toggle {
  border: 2px solid #005e6a;
  padding: 12px 24px;
  font-size: 14px;
}

.dropdown.custom-dropdown .dropdown-toggle::after {
  display: none;
}

.grid-layout {
  margin-top: -10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-layout.grid-layout-4column {
  -ms-grid-columns: (minmax(180px, 1fr))[1];
      grid-template-columns: repeat(1, minmax(180px, 1fr));
}

@media (min-width: 768px) {
  .grid-layout.grid-layout-4column {
    -ms-grid-columns: (minmax(180px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid-layout.grid-layout-4column {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.grid-layout.grid-layout-3column {
  -ms-grid-columns: (minmax(180px, 1fr))[1];
      grid-template-columns: repeat(1, minmax(180px, 1fr));
}

@media (min-width: 768px) {
  .grid-layout.grid-layout-3column {
    -ms-grid-columns: (minmax(180px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid-layout.grid-layout-3column {
    -ms-grid-columns: (minmax(180px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}

.grid-layout.grid-layout-3column .grid-item:nth-child(1) {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.grid-layout .grid-item:nth-child(odd) {
  background-color: #dddddd;
}

.grid-layout .grid-item .img {
  width: 100%;
  height: 100%;
}

.grid-layout .span-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.grid-layout .row-span-2 {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.modal-custom.show {
  padding-right: 0 !important;
}

.modal-custom .close {
  position: absolute;
  top: 0;
  left: -60px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .modal-custom .modal-content {
    padding: 65px 60px;
  }
}

.modal-custom .gallery-modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-custom .description {
  font-weight: 400;
  font-size: 14px;
}

.modal-custom .image-carousel .owl-carousel {
  position: relative;
}

.modal-custom .image-carousel .owl-nav .owl-prev,
.modal-custom .image-carousel .owl-nav .owl-next {
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 0;
  padding: 8px !important;
  border: 1px solid #f15a23;
  display: inline-block;
  font-weight: bold;
  color: #f15a23;
  border-radius: 50%;
  position: absolute;
}

.modal-custom .image-carousel .owl-nav .owl-prev:focus,
.modal-custom .image-carousel .owl-nav .owl-next:focus {
  outline: 1px solid rgba(241, 90, 35, 0.371);
}

.modal-custom .image-carousel .owl-nav .owl-prev.disabled,
.modal-custom .image-carousel .owl-nav .owl-next.disabled {
  color: #a9a9a9;
  border-color: #a9a9a9;
}

.modal-custom .image-carousel .owl-nav .owl-prev.disabled:focus,
.modal-custom .image-carousel .owl-nav .owl-next.disabled:focus {
  outline: none;
}

.modal-custom .image-carousel .owl-nav .owl-prev {
  top: 65px;
  left: 8px;
  background: white;
}

@media (min-width: 992px) {
  .modal-custom .image-carousel .owl-nav .owl-prev {
    left: -80px;
    top: 50%;
  }
}

.modal-custom .image-carousel .owl-nav .owl-next {
  top: 65px;
  right: 8px;
  background: white;
}

@media (min-width: 992px) {
  .modal-custom .image-carousel .owl-nav .owl-next {
    right: -80px;
    top: 50%;
  }
}

.modal-custom .image-carousel.image-carousel-2 .owl-nav .owl-prev {
  left: 0;
}

.modal-custom .image-carousel.image-carousel-2 .owl-nav .owl-next {
  right: 0;
}

.modal-custom .image-carousel img {
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}

main {
  padding-bottom: 70px;
}

#hero-gallery .image-content {
  position: relative;
}

#hero-gallery .image-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#gallery {
  position: relative;
  padding-bottom: 130px;
}

#gallery img {
  cursor: pointer;
}

#gallery .dots {
  position: absolute;
  right: 0;
  top: 0;
}

#gallery .dots-2 {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 1;
}

#gallery .grid {
  position: relative;
  z-index: 9;
}

#gallery .grid .grid-item,
#gallery .grid .grid-sizer {
  width: calc(50% - 7.5px);
}

@media (min-width: 992px) {
  #gallery .grid .grid-item,
  #gallery .grid .grid-sizer {
    width: calc(8% - 7.5px);
  }
}

#gallery .grid .grid-item {
  height: 230px;
  float: left;
  background: #cccccc;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  #gallery .grid .grid-item:nth-child(2), #gallery .grid .grid-item:nth-child(3), #gallery .grid .grid-item:nth-child(5), #gallery .grid .grid-item:nth-child(7), #gallery .grid .grid-item:nth-child(6) {
    width: calc(24% - 7.5px);
  }
}

#gallery .grid .grid-item:nth-child(3) {
  height: 470px;
}

@media (min-width: 992px) {
  #gallery .grid .grid-item:nth-child(4) {
    width: calc(49% - 15px);
  }
}

@media (min-width: 992px) {
  #gallery .grid .grid-item:nth-child(8), #gallery .grid .grid-item:nth-child(9), #gallery .grid .grid-item:nth-child(10) {
    width: calc(32% - 7.5px);
  }
}

#gallery .grid::after {
  content: "";
  display: block;
  clear: both;
}

#photos-event {
  background-color: #f0f1f4;
  padding-top: 60px;
  padding-bottom: 100px;
}

#photos-event .photo-event-item {
  cursor: pointer;
}
/*# sourceMappingURL=gallery.css.map */