@import "../base/variables";
@import "../base/global";
@import "../base/mixins";
@import "../layouts/footer";
@import "../layouts/header";
@import "../components/buttons";
@import "../components/heading-section";
@import "../components/photo-event";
@import "../components/_scroll_top_button";
@import "../components/custom-dropdown";
@import "../components/masonry_grid";
@import "../components/modal_dialog";
@import "../components/pagination";

#klaster-header {
  position: relative;
  min-height: 221px;
  background-color: $second-primary-color;
  margin-top: 25px;
  color: #fff;

  .eclipse {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .klaster-box {
    padding-top: 64px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
  }
  .desc {
    line-height: 0.5;
    font-size: 14px;
    font-weight: 400;
  }
}

#klaster-map {
  .map {
    background-color: #a9a9a9;
    height: 478px;
  }
  .map-list {
    overflow-y: auto;
    font-size: 16px;
    width: 100%;
    height: 300px;
    @include large {
      height: 478px;
    }

    .title-list {
      color: #a9a9a9;
      font-weight: 700;
    }

    .list {
      list-style: none;
      font-size: 16px;
      color: $second-primary-color;
      font-weight: 600;

      .list-child {
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        padding: 10px 2px;

        &.active {
          background-color: #ececec;
        }

        &:hover {
          cursor: pointer;
          background-color: #ececec;
        }
      }

      .icon-square {
        width: 30px;
        height: 28px;
        border-radius: 5px;
      }
    }
  }
}

#klaster {
  margin-top: 100px;
  margin-bottom: 200px;
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: $second-primary-color;
  }
  .hr-line {
    height: 6px;
    width: 66px;
    background-color: $primary-color;
    position: absolute;
  }
  .klaster-card {
    img {
      height: 300px;
      @include extra-small {
        height: 230px;
      }
      @include medium {
        height: 171px;
      }
      width: 100%;
      object-fit: cover;
    }
    .icon {
      .icon-box {
        width: 57px;
        height: 57px;
        border-radius: 5px;
      }
    }
    .card-description {
      width: 262px;
      height: 75px;
      .card-title {
        font-size: 16px;
        font-weight: bold;
        color: $second-primary-color;
      }
      .card-desc {
        font-size: 12px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }

  .dots-container {
    margin: 0 16px;
  }

  .owl-dot {
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #979494;
    border: none;
    margin: 0 12px;

    &.active {
      background-color: #f15a23;
    }
  }

  .owl-prev,
  .owl-next {
    background-color: #f15a23;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    padding: 7px 12px;

    &.disabled {
      background-color: unset;
      pointer-events: none;
      color: #979494;
      border: 1px solid #979494;
      border-color: #979494;
    }
  }
}
