html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #353535;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  margin-top: 60px;
}

.text-second-primary-color {
  color: #005e6a !important;
}

.text-primary {
  color: #f15a23 !important;
}

.bg-primary-color {
  background-color: #f15a23;
}

.bg-second-primary-color {
  background-color: #005e6a;
}

.bg-primary-dark-color {
  background-color: #f15a23;
}

.bg-primary-dark-color-hover:hover {
  background-color: #e4521c;
}

.font-weight-semibold {
  font-weight: 600;
}

.h-24px {
  height: 24px;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn.btn-primary, .btn.btn-primary:active {
  background-color: #f15a23 !important;
  border-color: #f15a23 !important;
  border-radius: 10px;
}

.btn.btn-primary:focus, .btn.btn-primary:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
}

.btn.btn-primary:hover, .btn.btn-primary:active:hover {
  background-color: #e4521c !important;
}

.heading-section hr {
  width: 66px;
  background-color: #f15a23;
  height: 6px;
  margin: 0;
}

.heading-section-2 hr {
  width: 45px;
  background-color: #f15a23;
  height: 6px;
  margin-bottom: 29px;
  margin-left: 0;
}

.card.card-photo-event {
  background-color: transparent;
  border: none;
}

.card.card-photo-event .card-body {
  padding: 0;
}

.card.card-photo-event .card-body img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .card.card-photo-event .card-body img {
    height: 220px;
  }
}

.card.card-photo-event .card-body .photo-event-info {
  margin-top: 20px;
}

.card.card-photo-event .card-body .photo-event-info .event-date {
  background-color: #005e6a;
  color: #fff;
}

.card.card-photo-event .card-body .photo-event-info .event-date .date {
  font-size: 24px;
}

.card.card-photo-event .card-body .photo-event-info .event-date .month {
  font-size: 18px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc {
  margin-left: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc h3 {
  font-size: 16px;
}

.card.card-photo-event .card-body .photo-event-info .event-desc p {
  font-size: 14px;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  display: none;
}

.dropdown.custom-dropdown .dropdown-menu {
  border-bottom-right-radius: 30px;
  padding: 0;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item {
  padding: 16px 22px;
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 94, 106, 0.3);
}

.dropdown.custom-dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom-right-radius: 30px;
}

.dropdown.custom-dropdown .dropdown-toggle {
  border: 2px solid #005e6a;
  padding: 12px 24px;
  font-size: 14px;
}

.dropdown.custom-dropdown .dropdown-toggle::after {
  display: none;
}

main {
  padding-bottom: 70px;
}

#klaster-header {
  height: 221px;
  background-color: #005e6a;
  margin-top: 25px;
  color: #fff;
}

#klaster-header .eclipse {
  float: right;
  position: relative;
  top: 20px;
  left: 20px;
}

#klaster-header .klaster-box {
  padding-top: 64px;
}

#klaster-header .title {
  font-size: 24px;
  font-weight: 700;
}

#klaster-header .desc {
  line-height: 0.5;
  font-size: 14px;
  font-weight: 400;
}

#klaster-map .map {
  background-color: #a9a9a9;
  height: 475px;
}

#klaster-map .map-list {
  font-size: 16px;
}

#klaster-map .map-list .title-list {
  color: #a9a9a9;
}

#klaster-map .map-list .list {
  list-style: none;
  font-size: 16px;
  color: #005e6a;
  font-weight: 600;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#klaster {
  height: 652px;
}

#klaster h2 {
  font-size: 36px;
  font-weight: bold;
  color: #005e6a;
}

#klaster .hr-line {
  height: 6px;
  width: 66px;
  background-color: #f15a23;
  position: absolute;
}

#klaster .klaster-card {
  width: 262px;
  height: 252px;
}

#klaster .klaster-card img {
  height: 171px;
  width: 262px;
}

#klaster .klaster-card .card-description {
  width: 262px;
  height: 75px;
}

#klaster .klaster-card .card-description .card-title {
  font-size: 16px;
  font-weight: bold;
  color: #005e6a;
}

#klaster .klaster-card .card-description .card-desc {
  font-size: 12px;
}
/*# sourceMappingURL=klaster.css.map */