html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #353535;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  padding-top: 60px;
}

footer#footer {
  position: relative;
  bottom: 0;
  margin-top: 120px;
  padding: 70px 0 0 0;
}

footer#footer .waves {
  position: absolute;
  left: 0;
  top: -85px;
  width: 1437px;
}

@media (min-width: 1200px) {
  footer#footer .waves {
    width: 100%;
    top: calc(0px - 7.5vw);
  }
}

footer#footer h5 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
}

footer#footer ul li {
  margin-bottom: 0.25rem;
}

footer#footer .footer-year {
  background-color: #e4521c;
  padding-top: 25px;
  padding-bottom: 20px;
  position: relative;
  bottom: 0;
}

header .navbar .navbar-nav .nav-item {
  font-weight: 600;
  color: #005e6a;
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item {
    margin-left: 48px;
  }
}

header .navbar .navbar-nav .nav-item.active {
  border-bottom: 3px solid #f15a23;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0;
  z-index: 9;
  border: none;
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: 60px;
    right: 0;
    left: unset;
  }
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: inherit;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 30px;
}

header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu::after {
  position: absolute;
  z-index: -1;
  top: 30px;
  right: 0;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #f15a23;
  border-left: 12px solid transparent;
  content: "";
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu::after {
    top: -16px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f15a23;
    border-left: 16px solid transparent;
  }
}

header .navbar .navbar-nav .dropdown-item {
  font-weight: 600;
}

.modal-custom.show {
  padding-right: 0 !important;
}

.modal-custom .close {
  position: absolute;
  top: 0;
  left: -60px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .modal-custom .modal-content {
    padding: 65px 60px;
  }
}

.modal-custom .gallery-modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-custom .description {
  font-weight: 400;
  font-size: 14px;
}

.modal-custom .image-carousel .owl-carousel {
  position: relative;
}

.modal-custom .image-carousel .owl-nav .owl-prev,
.modal-custom .image-carousel .owl-nav .owl-next {
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 0;
  padding: 8px !important;
  border: 1px solid #f15a23;
  display: inline-block;
  font-weight: bold;
  color: #f15a23;
  border-radius: 50%;
  position: absolute;
}

.modal-custom .image-carousel .owl-nav .owl-prev:focus,
.modal-custom .image-carousel .owl-nav .owl-next:focus {
  outline: 1px solid rgba(241, 90, 35, 0.371);
}

.modal-custom .image-carousel .owl-nav .owl-prev.disabled,
.modal-custom .image-carousel .owl-nav .owl-next.disabled {
  color: #a9a9a9;
  border-color: #a9a9a9;
}

.modal-custom .image-carousel .owl-nav .owl-prev.disabled:focus,
.modal-custom .image-carousel .owl-nav .owl-next.disabled:focus {
  outline: none;
}

.modal-custom .image-carousel .owl-nav .owl-prev {
  left: -80px;
  top: 50%;
}

.modal-custom .image-carousel .owl-nav .owl-next {
  right: -80px;
  top: 50%;
}

.modal-custom .image-carousel.image-carousel-2 .owl-nav .owl-prev {
  left: 0;
}

.modal-custom .image-carousel.image-carousel-2 .owl-nav .owl-next {
  right: 0;
}

.modal-custom .image-carousel img {
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}

.grid-layout {
  margin-top: -10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-layout.grid-layout-4column {
  -ms-grid-columns: (minmax(180px, 1fr))[1];
      grid-template-columns: repeat(1, minmax(180px, 1fr));
}

@media (min-width: 768px) {
  .grid-layout.grid-layout-4column {
    -ms-grid-columns: (minmax(180px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid-layout.grid-layout-4column {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.grid-layout.grid-layout-3column {
  -ms-grid-columns: (minmax(180px, 1fr))[1];
      grid-template-columns: repeat(1, minmax(180px, 1fr));
}

@media (min-width: 768px) {
  .grid-layout.grid-layout-3column {
    -ms-grid-columns: (minmax(180px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid-layout.grid-layout-3column {
    -ms-grid-columns: (minmax(180px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}

.grid-layout.grid-layout-3column .grid-item:nth-child(1) {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.grid-layout .grid-item:nth-child(odd) {
  background-color: #dddddd;
}

.grid-layout .grid-item .img {
  width: 100%;
  height: 100%;
}

.grid-layout .span-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.grid-layout .row-span-2 {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  display: none;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 100px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  display: none;
}

.btn.btn-primary, .btn.btn-primary:active {
  background-color: #f15a23 !important;
  border-color: #f15a23 !important;
  border-radius: 10px;
}

.btn.btn-primary:focus, .btn.btn-primary:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(241, 90, 35, 0.4);
}

.btn.btn-primary:hover, .btn.btn-primary:active:hover {
  background-color: #e4521c !important;
}

body {
  background-color: #e8ecf1;
}

#hero {
  padding: 108px 0;
  position: relative;
}

#hero .caption {
  max-width: 610px;
}

#hero .background {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

#hero.bg-primary-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#f15a23), to(#cd3701));
  background: linear-gradient(180deg, #f15a23 0%, #cd3701 100%);
}

#hero.bg-primary-color .background {
  background: url("../../img/svg/startup 1.png");
  background-position: bottom;
  background-size: 50%;
  background-repeat: repeat-x;
}

@media (min-width: 992px) {
  #hero.bg-primary-color .background {
    background-size: 25%;
  }
}

#hero.bg-second-primary-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#005e6a), to(#004a54));
  background: linear-gradient(180deg, #005e6a 0%, #004a54 100%);
}

#hero.bg-second-primary-color .background {
  background: url(../../img/svg/city.svg);
  background-position: bottom;
  background-size: 80%;
  background-repeat: repeat-x;
}

@media (min-width: 992px) {
  #hero.bg-second-primary-color .background {
    background-size: 50%;
  }
}

#carousel-sinergy {
  background-color: white;
  padding-bottom: 300px;
  padding-top: 90px;
}

#carousel-sinergy .owl-carousel {
  position: relative;
}

#carousel-sinergy .owl-nav .owl-prev,
#carousel-sinergy .owl-nav .owl-next {
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 0;
  padding: 8px !important;
  border: 1px solid #f15a23;
  display: inline-block;
  font-weight: bold;
  color: #f15a23;
  border-radius: 50%;
  position: absolute;
}

#carousel-sinergy .owl-nav .owl-prev:focus,
#carousel-sinergy .owl-nav .owl-next:focus {
  outline: 1px solid rgba(241, 90, 35, 0.371);
}

#carousel-sinergy .owl-nav .owl-prev.disabled,
#carousel-sinergy .owl-nav .owl-next.disabled {
  color: #a9a9a9;
  border-color: #a9a9a9;
}

#carousel-sinergy .owl-nav .owl-prev.disabled:focus,
#carousel-sinergy .owl-nav .owl-next.disabled:focus {
  outline: none;
}

#carousel-sinergy .owl-nav .owl-prev {
  left: -50px;
  top: 50%;
}

#carousel-sinergy .owl-nav .owl-next {
  right: -50px;
  top: 50%;
}

#carousel-sinergy .owl-stage {
  margin: 0 auto;
}

#carousel-sinergy .company {
  padding: 24px;
  background-color: white;
  border: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 154px;
  height: 154px;
}

#carousel-sinergy .company img {
  max-height: 64px;
  width: auto;
}

#carousel-sinergy .company:hover {
  border: 1px solid #f15a23;
}

#main-sinergy {
  background-color: #e8ecf1;
  margin-bottom: 50px;
}

#main-sinergy .image-carousel .owl-carousel {
  position: relative;
}

#main-sinergy .image-carousel .owl-nav {
  position: absolute;
  bottom: 12px;
  right: 20px;
}

@media (min-width: 992px) {
  #main-sinergy .image-carousel .owl-nav {
    right: 100px;
  }
}

#main-sinergy .image-carousel .owl-nav .owl-prev,
#main-sinergy .image-carousel .owl-nav .owl-next {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 8px;
  width: 20px;
  height: 20px;
  line-height: 0;
  display: inline-block;
  font-weight: bold;
  color: #979494;
  border-radius: 5px;
  background-color: white;
  margin: 0 4px;
}

#main-sinergy .image-carousel img {
  width: 100%;
  height: 345px;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-sinergy .content {
  margin-top: -200px;
}

#main-sinergy .content .nav-pills {
  margin-top: 220px;
  margin-left: 0;
}

@media (min-width: 992px) {
  #main-sinergy .content .nav-pills {
    margin-top: 32px;
    margin-left: 24px;
  }
}

#main-sinergy .content .nav-pills .nav-item .nav-link {
  color: #f15a23;
  border: 1px solid #f15a23;
  margin-right: 20px;
}

#main-sinergy .content .nav-pills .nav-item .nav-link.active {
  background-color: #f15a23;
  color: white;
}

#main-sinergy .content .nav-pills .nav-item .nav-link.disabled {
  background-color: #e0dada;
  border-color: #c4c4c4;
  color: white;
}

#main-sinergy .card.card-sinergy {
  z-index: 1;
}

@media (min-width: 1200px) {
  #main-sinergy .card.card-sinergy {
    margin-left: -80px;
  }
}

#main-sinergy .card.card-sinergy h3 {
  font-size: 20px;
}
/*# sourceMappingURL=synergy.css.map */