.pagination.main-pagination {
  .next a,
  .prev a {
    &.disabled {
      background-color: unset;
      pointer-events: none;
      color: #979494;
      border-color: #979494;
    }
    background-color: #f15a23;
    color: white;
    border-radius: 5px;
    font-size: 12px;
  }

  .page-item {
    .page-link.page-link-circle {
      padding: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #979494;

      &.active {
        background-color: #f15a23;
      }
    }
  }
}
